@font-face {
    font-family: brandFont;
    src: url(fonts/OneDirection.ttf) format("truetype");
}

.paragraph{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px;
}

.paragraph2{
    text-align: center;
    font-size: 90px;
    font-family: brandFont, Impact, sans-serif;
    color: white;
}

.menu-bar{
    background-color: black;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.menu-bar ul li{
    font-family: Impact, sans-serif;
    width: 120px;
    margin: 15px;
    padding: 15px;
    color: floralwhite;
    cursor: pointer;
}

.menu-bar ul li:hover{
    background-color: floralwhite;
    color: black;
    border-radius: 3px;
}

.paragraph5{
    font-size: 20px;
    font-family: Courier, monospace;
    margin: 30px;
    color: white;
    text-align: center;
    line-height: 1.6;
}

.lets-go-btn{
    display: inline-block;
    color: floralwhite;
    background-color: rgb(227, 26, 26);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 5px;
    padding: 12px 25px;
    margin-left: -15px;
}

.lets-go-btn:hover{
    background-color: rgb(54, 1, 1);
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 70px;
    margin-top: 10px;
}

.icons a{
    transition: transform 0.3s ease;
}

.icons a:hover{
    transform: scale(1.4);
}

.footer{
    background-color: black;
    margin-top: 28%;
    padding-top: 10px;
}

.p1{
    color: floralwhite;
    font-size: large;
    text-align: center;
    padding-bottom: 10px;
}
